# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# VS / Rider / VS Code settings
.vs/
.idea/
.vscode/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# ASP.NET scaffolding
ScaffoldingReadMe.txt

# EF Core
Migrations/obj/

# OS
.DS_Store
Thumbs.db