<!-- Formulario para editar un ingrediente existente. -->
@model Ingredient
@{
    ViewBag.Title = $"Edit {Model.Name} Ingredient";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IngredientId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <h4></h4>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" /> 
        <a asp-action="Index" class="btn btn-default">Back to List</a>
    </div>
</form>
